* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 75px;
    background-color: #222;
    justify-content: space-between;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

body {
    background-color: #FFFFFF;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    text-decoration: none;
}

img {
    max-width: 100%;
  }

.logo {
    display: flex;
    gap: 40px;
    margin-left: 37px;
}

.menu {
    display: flex;
    gap: 40px;
    margin-right: 37px;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

.top_content {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.top_main_content {
    position: relative;
    overflow: hidden;
  }

.main_bg_left {
    width: 50%;
}

.right_title {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    line-height: 40px;
    align-items: center;
}

.brand {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}
.fashion {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}
.luxerious {
    font-size: 32px;
    font-weight: 700;
}

.gender {
    gap: 30px;
    display: flex;
    margin: 65px 0 30px 0;
}

.women {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(0, 0, 0, 0.8)),
    url(/img/1-for\ women.png);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    width: 360px;
    align-items: center;
    flex-direction: column;
}

.men {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(0, 0, 0, 0.8)),
    url(/img/2-for\ men.png);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    width: 360px;
    align-items: center;
    flex-direction: column;
}

.kids {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(0, 0, 0, 0.8)),
    url(/img/3-for\ kids.png);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    width: 360px;
    align-items: center;
    flex-direction: column;
}
.accesories {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(0, 0, 0, 0.8)),
    url(/img/4-ACCESORIES.png);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    height: 180px;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.title2 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-box {
    display: grid;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
    grid-template-columns: repeat(auto-fit, 360px);
}

.featured_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 43px 0;
}

p {
    width: 315px;
    color: #5D5D5D;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 16px;
}

h3 {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin: 25px 1px 16px 1px;
}

.price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

h5 {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    margin: 6px 0;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    color: #FF6A6A;
    font-size: 16px;
    padding: 15px 40px;
    margin-top: 50px;
    margin-bottom: 70px;
    border: 1px solid #F26376;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    background-color: #F16D7F;
    color: white;
}

.footer {
    background: #222224;
}
.advantages {
    display: flex;
    padding-top: 103px;
    padding-bottom: 103px;
}

.adv_icons {
    margin-left: 172px;
    margin-bottom: 20px;
}

.adv_text {
    margin-top: 20px;
    text-align: center;
}

.subscribe {
    background: linear-gradient(#fbfbfb, rgb(235 234 234 / 80%)),url(/img/bg_foooter.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 125px;
    background-position: bottom;
    
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
    padding-top: 90px;
    text-align: center;
}
.girl {
    margin-bottom: 16px;
}

.quate {
    color: #222224;
    font-size: 20px;
    width: 358px;
    font-weight: 400;
}

.sub {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}

.sub2 {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    width: 557px;
}

input.email {
    background: #E1E1E1;
    border: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    margin-left: 114px;
    padding: 13px 37px;
    display: flex;
}

.footer {
    position: relative;
}

.subscribe {
    position: relative;
}

.footer__icons {
    position: relative;
}

.btn_subscribe {
    border: none;
    background: #E05C6E;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 13px 15px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.email {
    display: flex;
    align-items: center;
}


.text_icons {
    display: flex;
    justify-content: center;
    background: #222224;
    color: #FBFBFB;
    padding: 30px;
    gap: 655px;
}

.only_icons {
    display: flex;
    justify-content: center;
    gap: 7px;
}
.square {
    width: 32px;
    height: 32px;
    background: white;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    transition: all 0.3s;
}

.square:hover {
    background-color: #F16D7F;
    fill: white;
}

.rights {
    font-size: 16px;
    color: #FBFBFB;
    font-weight: 400;
}


@media (max-width: 1024px) {
    .brand {
        font-size: 44px;
    }
    .fashion {
        font-size: 24px;
    }
    .luxerious {
        font-size: 24px;
    }

    .right_title {
        line-height: 30px;
    }

    .advantages {
        flex-direction: column;
        text-align: center;
        width: 321px;
        margin-left: 230px;
        gap: 43px;
    }

    .info {
        flex-direction: column;
        text-align: center;
    }

    .text_icons {
        gap: 240px;
    }

    .adv_icons {
        margin: 0;
        margin-bottom: 18px;
    }
    
}

@media (min-width: 320px) and (max-width: 767px) {
    .brand {
        font-size: 38px;
    }
    .fashion {
        font-size: 20px;
    }
    .luxerious {
        font-size: 20px;
    }
    .main_bg_left {
        display: none;
    }

    .right_title {
        display: flex;
        justify-content: center;
    }

    .top_content {
        display: block;
        padding: 148px 0;
    }
    .line {
        width: 12px;
        height: 70px;
    }

    .cabinet, .cart {
        display: none;
    }

    .gender, .accesories {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .accesories {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-left: 32px;
        margin-right: 32px;
    }

    .text_icons {
        flex-direction: column-reverse;
        text-align: center;
        gap: 36px;
        align-items: center;
    }

    .advantages {
        margin-left: 58px;
        gap: 43px;

    }

}



